[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QuAnTeTrack"]
	path = QuAnTeTrack
	url = https://github.com/macrofunuv/quantetrack
